In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from scipy import stats

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
df = pd.read_csv("Cleaned_Data_Mod.csv")

In [7]:
df.head()

,Team_1,Team_2,City_Played,Player_of_Match,Venue,Toss_Winner,Toss_Decision,Winner_of_Match,Result
0,RCB,KKR,Bangalore,BB McCullum,M Chinnaswamy Stadium,RCB,Field,KKR,Runs
1,PBKS,CSK,Chandigarh,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",CSK,Bat,CSK,Runs
2,DC,RR,Delhi,MF Maharoof,Feroz Shah Kotla,RR,Bat,DC,Wickets
3,MI,RCB,Mumbai,MV Boucher,Wankhede Stadium,MI,Bat,RCB,Wickets
4,KKR,Dec_C,Kolkata,DJ Hussey,Eden Gardens,Dec_C,Bat,KKR,Wickets

In [8]:
def team_converter(s):
    s = s.lower()
    if(s == "csk"): return 1
    if(s == "mi"): return 2
    if(s == "srh"): return 3
    if(s == "kkr"): return 4
    if(s == "dc"): return 5
    if(s == "dec_c"): return 6
    if(s == "pbks"): return 7
    if(s == "rcb"): return 8
    if(s == "gl"): return 9
    if(s == "pw"): return 10
    if(s == "rps"): return 11
    if(s == "rr"): return 12
    if(s == "ktk"): return 13
    return -1

def toss_win(s):
    s = s.lower()
    if(s == "team1"): return 1
    if(s == "team2"): return 2
    return -1

def city_converter(s):
    s = s.lower()
    if(s == 'abu dhabi'): return 1
    if(s == 'ahmedabad'): return 2
    if(s == 'bangalore' or s == 'bengaluru'): return 3
    if(s == 'bloemfontein'): return 4
    if(s == 'cape town'): return 5
    if(s == 'centurion'): return 6
    if(s == 'chandigarh'): return 7
    if(s == 'chennai'): return 8
    if(s == 'cuttack'): return 9
    if(s == 'delhi'): return 10
    if(s == 'dharamsala'): return 11
    if(s == 'dubai'): return 12
    if(s == 'east london'): return 13
    if(s == 'hyderabad'): return 14
    if(s == 'indore'): return 15
    if(s == 'jaipur'): return 16
    if(s == 'johannesburg'): return 17
    if(s == 'kanpur'): return 18
    if(s == 'kimberley'): return 19
    if(s == 'kochi'): return 20
    if(s == 'kolkata'): return 21
    if(s == 'mumbai'): return 22
    if(s == 'na'): return 23
    if(s == 'nagpur'): return 24
    if(s == 'port elizabeth'): return 25
    if(s == 'pune'): return 26
    if(s == 'raipur'): return 27
    if(s == 'rajkot'): return 28
    if(s == 'ranchi'): return 29
    if(s == 'sharjah'): return 30
    if(s == 'visakhapatnam'): return 31
    return -1

def team_converter_back(m):
    if(m == 1): return "CSK"
    if(m == 2): return "MI"
    if(m == 3): return "SRH"
    if(m == 4): return "KKR"
    if(m == 5): return "DC"
    if(m == 6): return "DEC_C"
    if(m == 7): return "PBKS"
    if(m == 8): return "RCB"
    if(m == 9): return "GL"
    if(m == 10): return "PW"
    if(m == 11): return "RPS"
    if(m == 12): return "RR"
    if(m == 13): return "KTK"
    return -1

def algo_converter(s):
    s = s.lower()
    if(s == "linearregression"): return 1
    return -1

def toss_dec_converter(s):
    s = s.lower()
    if(s == "field"): return 1
    if(s == "bat"): return 2
    return -1

In [9]:
df = pd.read_csv("Cleaned_Data_Mod.csv", converters = {"Team_1":team_converter,
    "Team_2":team_converter, "Toss_Winner":team_converter,"Toss_Decision":toss_dec_converter,
    "Winner_of_Match":team_converter, "City_Played":city_converter})

In [10]:
df.head()

,Team_1,Team_2,City_Played,Player_of_Match,Venue,Toss_Winner,Toss_Decision,Winner_of_Match,Result
0,8,4,3,BB McCullum,M Chinnaswamy Stadium,8,1,4,Runs
1,7,1,7,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",1,2,1,Runs
2,5,12,10,MF Maharoof,Feroz Shah Kotla,12,2,5,Wickets
3,2,8,22,MV Boucher,Wankhede Stadium,2,2,8,Wickets
4,4,6,21,DJ Hussey,Eden Gardens,6,2,4,Wickets

In [11]:
team1 = "CSK"
team2 = "MI"
city = "Kolkata"

In [12]:
team1 = team_converter(team1)

In [13]:
team2 = team_converter(team2)

In [14]:
team1

1

In [15]:
team2

2

In [16]:
city = city_converter(city)
city

21

In [17]:
df_temp = df[(df.Team_1 == team1)&(df.Team_2 == team2)]

In [18]:
df_temp.head()

,Team_1,Team_2,City_Played,Player_of_Match,Venue,Toss_Winner,Toss_Decision,Winner_of_Match,Result
7,1,2,8,ML Hayden,"MA Chidambaram Stadium, Chepauk",2,1,1,Runs
58,1,2,5,SR Tendulkar,Newlands,1,1,2,Runs
102,1,2,25,ML Hayden,St George's Park,2,2,1,Wickets
151,1,2,8,SK Raina,"MA Chidambaram Stadium, Chepauk",1,2,1,Runs
174,1,2,22,SK Raina,Dr DY Patil Sports Academy,1,2,1,Runs

In [19]:
X = df_temp[['Team_1', 'Team_2', 'City_Played', 'Toss_Winner', 'Toss_Decision']]
y = df_temp['Winner_of_Match'].values.reshape(-1,1)

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [21]:
lr = LinearRegression()

In [22]:
lr.fit(X_train, y_train)

LinearRegression()

In [23]:
y_pred = lr.predict(X_test)

In [24]:
y_pred

array([[1.05292092],
       [1.0945448 ],
       [1.09774663],
       [1.57161844],
       [1.2067299 ],
       [1.57161844]])

In [25]:
res = stats.mode(y_pred)

In [26]:
res

ModeResult(mode=array([[1.57161844]]), count=array([[2]]))

In [27]:
res = int(res[0])
res

1

In [29]:
from sklearn.neighbors import KNeighborsClassifier

In [30]:
df = pd.read_csv("Cleaned_Data_Mod.csv", converters = {"Team_1":team_converter,
    "Team_2":team_converter, "Toss_Winner":team_converter,"Toss_Decision":toss_dec_converter,
    "Winner_of_Match":team_converter, "City_Played":city_converter})

In [31]:
team1 = "CSK"
team2 = "MI"
city = "Kolkata"

In [32]:
team1 = team_converter(team1)
team2 = team_converter(team2)

In [33]:
df_temp = df[(df.Team_1 == team1)&(df.Team_2 == team2)]

In [34]:
X = df_temp[['Team_1', 'Team_2', 'City_Played', 'Toss_Winner', 'Toss_Decision']]
y = df_temp['Winner_of_Match'].values.reshape(-1,1)

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [37]:
kn = KNeighborsClassifier

In [38]:
kn.fit(X_train, y_train)

TypeError: KNeighborsClassifier.fit() missing 1 required positional argument: 'y'

In [40]:
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [41]:
X = df_temp[['Team_1', 'Team_2', 'City_Played', 'Toss_Winner', 'Toss_Decision']]
y = df_temp['Winner_of_Match'].values.reshape(-1,1)

In [42]:
model = GaussianNB()

In [51]:
X_train, X_test, Y_train, Y_test = train_test_split(X,y, test_size = 0.3)

In [52]:
model.fit(X_train, Y_train)

C:\WinSoft\Python\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [53]:
y1 = model.predict(X_test)

In [54]:
res = stats.mode(y1)

In [55]:
res = int(res[0])
res

2